<app-header></app-header>

<div class="container">

  <div *ngIf="showNotification" class="notification">
    {{ notificationMessage }}  
  </div>

  <h1>Welcome to My Task Manager App!</h1>
  <p>Let's start learning Angular</p>

  <button class="hide-btn" (click)="toogleTasks()">
     {{ showTasks ? '🔓 Hide Tasks' : '🔒 Show Tasks' }}
  </button>

  <input type="text"
    placeholder="Search tasks..."
    [(ngModel)]="searchKeyword"/>

    <div *ngIf="isLoading" class="loader">
        ⏳ Loading tasks...
    </div>



<div *ngIf="!isLoading">
<div class="counter">
  <span>📋 Total: {{ tasks.length }}</span>
  <span>✅ Completed: {{ completedCount }}</span>
  <span>⏳ Pending: {{ pendingCount }}</span>
</div>


  <div *ngIf="showTasks">
    <app-task-card
      *ngFor="let task of tasks | filter:searchKeyword"
      [taskName]="task.title"
      [taskId]="task.id"
      [completed]="task.completed"
      [isHighlight]="false"
      (taskClicked)="onTaskClicked($event)"
      (deleteClicked)="onDeleteTask($event)">
    </app-task-card>
  </div>
</div>
</div>

<router-outlet></router-outlet> 
<app-footer></app-footer>