<div 
class ="task-card"
[ngClass]="{highlight: isHighlight}" 
(click)="onclick()" 
>


 <input
    type="checkbox"
    [checked]="completed"
    (click)="onToggleCompleted(); $event.stopPropagation()"
  />

  <span class="task-name" [ngClass]="{strikethrough: completed}">
    {{ taskName | uppercase }}
  </span>

 <div class="actions">
 
    <button class="edit-btn" (click)="onEdit(); $event.stopPropagation()">
      ✏️ Edit
    </button>

    <button class="delete-btn" (click)="onDelete(); $event.stopPropagation()">
      🗑️ Delete
    </button>
  </div>
</div>