<div>
  <h2>Edit Task</h2>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <label>Task Title:</label><br>
    <input
      type="text"
      formControlName="title"
    /><br>

    <small *ngIf="editForm.get('title')?.invalid && editForm.get('title')?.touched">
      ⚠️ Task title is required.
    </small><br><br>

    <button type="submit" [disabled]="editForm.invalid">
      Save Task
    </button>

   <button type="button" (click)="onCancel()">Cancel</button>
   
<div *ngIf = "showNotification" style = "
background: #d4edda;
  color: #155724;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;">
   ✏️ Task updated successfully!
</div>
  </form>
</div>